<h1 onMouseOver="this.style.backgroundColor='lightblue';this.style.color='white' " onMouseOut="this.style.backgroundColor='white';this.style.color = 'black'">Users</h1>
<%= link_to "index", users_path%>
<%= link_to "new", new_user_path%>

<h1 onMouseOver="this.style.backgroundColor='lightblue';this.style.color='white' " onMouseOut="this.style.backgroundColor='white';this.style.color = 'black'">Tasklists</h1>
<%= link_to "index", tasklists_path%>
<%= link_to "new", new_tasklist_path%>
